{% extends 'index.html' %} 
{% block title %}| Keterampilan {% endblock %}

{% block body %}
<section style="margin-bottom: 20px;">
    <h2 style="text-align: center;">Keterampilan</h2>
    <ul>
        <li>Mampu mengoperasikan Bahasa Pemrograman C.</li>
        <li>Paham dalam mengoperasikan beberapa device elektronik seperti PC, Laptop dan Handphone.</li>
    </ul>
</section>

<section style="margin-bottom: 20px;">
    <h2 style="text-align: center;">Bahasa</h2>
    <ul>
        <li>Bahasa Indonesia - Fasih</li>
        <li>Bahasa Inggris - Menengah</li>
    </ul>
</section>

<section style="margin-bottom: 20px;">
    <h2 style="text-align: center;">Hobby</h2>
    <ul>
        <li>Bermain Game</li>
        <li>Mendengarkan Musik</li>
    </ul>
</section>
{% endblock %}