{% extends 'index.html' %} 
{% block title %}| Pendidikan {% endblock %}
{% block body %}

<section style="margin-bottom: 20px;">
    <h2 style="text-align: center;">Pendidikan</h2>
    <ul>
        <li><strong>Universitas Pendidikan Indonesia</strong> - S1 Pendidikan Ilmu Komputer, <i>2023 - Sekarang</i></li>
        <li><strong>SMA Pasundan 1 Bandung</strong> - IPS, <i>2020 - 2023</i></li>
        <li><strong>SMP Negeri 11 Bandung</strong>, <i>2017 - 2020</i></li>
        <li><strong>SD Swasta Nugraha</strong>, <i>2011 - 2017</i></li>
    </ul>
</section>
{% endblock %}